:root {
  --background-dark: #1e1d24;
  --background-darker: #151419;
  --background-light: #22222a;
  --text-color: #cacaca;
  --background-mid: #ec1370;
}

* {
  font-family: 'PT Serif', serif;
  color: var(--text-color);
}

body {
  margin: 0;
  display: grid;
  height: 100vh;
  grid-template-columns: 40px 1fr 6fr;
  grid-template-rows: 2rem auto;
}

span {
  font-weight: var(--bold);
  font-style: var(--em);
  text-decoration: var(--u);
}


.file {
  color: var(--background-mid);
}

#extension {
  grid-column: 2;
  grid-row: 1 / -1;
  background: var(--background-dark);

}

#extension > *[data-visible="true"] {
  display: flex;
  justify-content: space-around;
  padding-top: 5px;
}

#extension-name {
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}



#file-div[data-visible="true"] {
  display:flex;
  flex-direction: column;
}

*[data-visible="false"] {
  display: none;
}

div[data-type]::before {
  content: attr(data-name);
}

div[data-expanded="false"] > div {
  display: none;
}

.format-button {
  width: 2rem;
  height: 2rem;
  border: var(--background-light), solid;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-darker);
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 25%;
}

.format-button:hover {
  color: var(--background-mid);
}

.open-file > div {
  width: max-content;
  height: 100%;
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

*[data-open="true"] {
  background-color: var(--background-light);
}

.open-file > div > * {
  padding-right: 5px;
}

#bold { font-weight: bold;}

#em { font-style: italic;}

#u { text-decoration: underline;}

.utilities {
  background-color: var(--background-light);
  grid-row: 1 / -1;
  grid-column: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

/* .extension {
  grid-row: 1 / -1;
  background-color: var(--background-dark);
} */

.top, .bot {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.top i, .bot i{
  padding: 10px;
  padding-left: 8px;
  font-size: 1.2rem;
}

.main {
  padding: 10px;
  width: auto;
  border: none;
  font-size: 1.5rem;
  overflow-wrap: break-word;
  overflow-x: scroll;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  grid-column-start: 3;
  grid-row: 2;
  background: var(--background-light);
  user-select: none;
}

.main::-webkit-scrollbar {
  display: none;
}

.main[data-full="true"], .open-editors[data-full="true"] {
  grid-column: 2 / -1;
}

.main:focus {
  outline: none;
}


i[data-selected="true"]{
  color: var(--background-mid);
  box-sizing: content-box;
  border-left: solid 2px var(--background-mid);
}

i:hover {
  color: var(--background-mid);
}

p {
  margin-top: 0;
  margin-bottom: 10px;
  word-break: break-all;
}

.open-editors {
  background-color: var(--background-dark);
  grid-row: 1;
  grid-column: 3 / -1;
  display: flex;
  flex-direction: row;
}


