:root {
  --background-dark: #1e1d24;
  --background-light: #22222a;
  --text-color: #cacaca;
  --ui-light: #ec1370;
}

* {
  font-family: 'PT Serif', serif;
  color: var(--text-color);
}

body {
  margin: 0;
  display: grid;
  height: 100vh;
  grid-template-columns: 40px 1fr 6fr;
  grid-template-rows: 2rem auto;
  /* transition: grid-template-columns 0.5s ease-in; */
}

body[data-full="true"] {
  grid-template-columns: 40px 0fr 1fr;
}

span {
  background-color: var(--highlight);
  font-weight: var(--bold);
  font-style: var(--italic);
  text-decoration: var(-underline);
}

.ui-light { background-color: #ec1370;}

.bold { font-weight: bold;}

.em { font-style: italic;}

.u { text-decoration: underline;}

.utilities {
  background-color: var(--background-light);
  grid-row: 1 / -1;
  grid-column: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

/* .extension {
  grid-row: 1 / -1;
  background-color: var(--background-dark);
} */

.top, .bot {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.top svg, .bot svg{
  padding: 10px;
  padding-left: 8px;
  width: 20px;
  height: 20px;
  fill: var(--text-color);
}

.main {
  padding: 10px;
  width: auto;
  border: none;
  font-size: 1.5rem;
  overflow-wrap: break-word;
  overflow-x: scroll;
  overflow-y: scroll;
  scrollbar-width: none;
  grid-column: 3 / -1;
  grid-row: 2;
  background: var(--background-light);
  user-select: none;
  transition: all 2s;
}

/* .main[data-full="true"], .open-editors[data-full="true"] {
  grid-column: -1;
} */

.main:focus {
  outline: none;
}

/* .main:hover {
  font-size: 3rem;
} */

svg:hover {
  fill: var(--ui-light);
}

svg[data-selected="true"]{
  fill: var(--ui-light);
  box-sizing: content-box;
  border-left: solid 2px var(--ui-light);
}

p {
  margin-top: 0;
  margin-bottom: 10px;
  word-break: break-all;
}

.open-editors {
  background-color: var(--background-dark);
  grid-row: 1;
  grid-column: 3 / -1;
}
