* {
  font-family: 'PT Serif', serif;
}

body {
  margin: 0;
  display: grid;
}

.bold { font-weight: bold;}

.em { font-style: italic;}

.u { text-decoration: underline;}

.utilities {
  width: 50px;
  height: 100vh;
  grid-row: 1;
  grid-column: 1;
  background-color: #22222a;
}

.main {
  width: auto;
  border: none;
  font-size: 1.5rem;
  overflow: auto;
  grid-row: 1;
  grid-column-start: 3;
  grid-column-end: -1;
}

p {
  margin-top: 0;
  margin-bottom: 10px;
  word-break: break-all;
}

.utilities > ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 2px;
  display: block;
  text-decoration: none;
  width: 70%;
}

li img {
  color: aliceblue;
}